<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
</head>
<body>
<h1>About</h1>
<p>1. This Webapp provides sentiment analysis of reviews of apps in Google Play Store.<br><br>
   2. Enter App name in the input box and click generate result.<br><br>
   3. It usually takes about half a minute to generate the results.<br><br>
   4. In case of any error, please reload and try again.<br><br>
   5. It will display the following plots-<br><br>
   &nbsp;&nbsp; Sentiment Pie Chart, Ratings Pie Chart, Overall Words by Frequency, Words by Frequency in Positive reviews,
   Words by Frequency in Negative reviews</p>
<strong><nav>
            <ul class="menu">
              <li><a href="{{ url_for('predict') }}">Home</a></li>
            </ul>
          </nav></strong>
</body>
</html>
